.tetrisLoginForm {
    width: 400px;


    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 1.2rem;

    border: solid powderblue 1px;
    padding: 20px;
    border-radius: 8px;

    margin-top: 70px;

    box-shadow: 3px 3px 3px lightskyblue
}

.tetrisLoginFormTitle {

    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    color : rgb(11, 77, 104);
    margin-bottom: 20px;
}

.nickNameInput {
    margin-left : 20px;
    width: 250px;
    border:none;
    border-bottom : 2px solid black;
    font-size: 2rem;
}

.nickNameText {
    font-size: 1.5rem;
    font-weight: 600;

}

.goBtn {
        font-size: 1.8rem;
        text-align: center;
        width: 100%;
        border: solid #1790ff 1px;
        border-radius: 8px;
        color: white;
        background-color: #47a1f7;
    
        padding-top: 5px;
        padding-bottom: 5px;   
        margin-top: 20px; 
        margin-bottom: 10px;   
    
        transition-duration: 0.5s;
    }
    
    .goBtn:hover{
        cursor: pointer;
        border: solid powderblue 1px;
        background-color: lightskyblue;
    
 
    }